In [10]:
import numpy as np
import pandas as pd
dataset1 = pd.read_csv("sgemm_prod.csv")

In [11]:
dataset1.head() #first 5 column

,MWG,NWG,KWG,MDIMC,NDIMC,MDIMA,NDIMB,KWI,VWM,VWN,STRM,STRN,SA,SB,Run1 (ms),Run2 (ms),Run3 (ms),Run4 (ms)
0,16,16,16,8,8,8,8,2,1,1,0,0,0,0,115.26,115.87,118.55,115.80
1,16,16,16,8,8,8,8,2,1,1,0,0,0,1,78.13,78.25,79.25,79.19
2,16,16,16,8,8,8,8,2,1,1,0,0,1,0,79.84,80.69,80.76,80.97
3,16,16,16,8,8,8,8,2,1,1,0,0,1,1,84.32,89.90,86.75,85.58
4,16,16,16,8,8,8,8,2,1,1,0,1,0,0,115.13,121.98,122.73,114.81

In [12]:
dataset1.tail()#last 5 columns

,MWG,NWG,KWG,MDIMC,NDIMC,MDIMA,NDIMB,KWI,VWM,VWN,STRM,STRN,SA,SB,Run1 (ms),Run2 (ms),Run3 (ms),Run4 (ms)
190,16,16,16,8,8,8,16,8,2,1,1,1,1,0,62.99,62.28,63.03,63.17
191,16,16,16,8,8,8,16,8,2,1,1,1,1,1,57.08,57.06,57.04,56.85
192,16,16,16,8,8,16,8,2,1,1,0,0,0,0,115.11,114.89,115.31,118.17
193,16,16,16,8,8,16,8,2,1,1,0,0,0,1,79.21,79.22,79.19,79.16
194,16,16,16,8,8,16,8,2,1,1,0,0,1,0,72.70,73.79,72.85,72.76

In [13]:
dataset1.isnull().sum()

MWG          0
NWG          0
KWG          0
MDIMC        0
NDIMC        0
MDIMA        0
NDIMB        0
KWI          0
VWM          0
VWN          0
STRM         0
STRN         0
SA           0
SB           0
Run1 (ms)    0
Run2 (ms)    0
Run3 (ms)    0
Run4 (ms)    0
dtype: int64

In [14]:
#as there is no null value so no need to drop columns
df=dataset1.drop(['MWG',	'NWG',	'KWG',	'MDIMC',	'NDIMC',	'MDIMA',	'NDIMB',	'KWI',	'VWM',	'VWN',	'STRM'],axis=1)

In [15]:
df.shape

(195, 7)

In [16]:
df.dtypes

STRN           int64
SA             int64
SB             int64
Run1 (ms)    float64
Run2 (ms)    float64
Run3 (ms)    float64
Run4 (ms)    float64
dtype: object

In [17]:
from sklearn.preprocessing import LabelEncoder 
le= LabelEncoder() 
label_encoder_x= LabelEncoder()  
df.iloc[:, 0] = le.fit_transform(df.iloc[:, 0])

In [18]:
df

     STRN  SA  SB  Run1 (ms)  Run2 (ms)  Run3 (ms)  Run4 (ms)
0       0   0   0     115.26     115.87     118.55     115.80
1       0   0   1      78.13      78.25      79.25      79.19
2       0   1   0      79.84      80.69      80.76      80.97
3       0   1   1      84.32      89.90      86.75      85.58
4       1   0   0     115.13     121.98     122.73     114.81
..    ...  ..  ..        ...        ...        ...        ...
190     1   1   0      62.99      62.28      63.03      63.17
191     1   1   1      57.08      57.06      57.04      56.85
192     0   0   0     115.11     114.89     115.31     118.17
193     0   0   1      79.21      79.22      79.19      79.16
194     0   1   0      72.70      73.79      72.85      72.76

[195 rows x 7 columns]

In [19]:
df.head()

   STRN  SA  SB  Run1 (ms)  Run2 (ms)  Run3 (ms)  Run4 (ms)
0     0   0   0     115.26     115.87     118.55     115.80
1     0   0   1      78.13      78.25      79.25      79.19
2     0   1   0      79.84      80.69      80.76      80.97
3     0   1   1      84.32      89.90      86.75      85.58
4     1   0   0     115.13     121.98     122.73     114.81

In [20]:
df.info() #count and datatype of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   STRN       195 non-null    int64
 1   SA         195 non-null    int64
 2   SB         195 non-null    int64
 3   Run1 (ms)  195 non-null    float64
 4   Run2 (ms)  195 non-null    float64
 5   Run3 (ms)  195 non-null    float64
 6   Run4 (ms)  195 non-null    float64
dtypes: float64(4), int64(3)
memory usage: 10.8 KB

In [21]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='most_frequent')
df_im=si.fit_transform(df)

In [22]:
df_im=pd.DataFrame(df_im)

In [23]:
df_im

       0    1    2       3       4       5       6
0    0.0  0.0  0.0  115.26  115.87  118.55  115.80
1    0.0  0.0  1.0   78.13   78.25   79.25   79.19
2    0.0  1.0  0.0   79.84   80.69   80.76   80.97
3    0.0  1.0  1.0   84.32   89.90   86.75   85.58
4    1.0  0.0  0.0  115.13  121.98  122.73  114.81
..   ...  ...  ...     ...     ...     ...     ...
190  1.0  1.0  0.0   62.99   62.28   63.03   63.17
191  1.0  1.0  1.0   57.08   57.06   57.04   56.85
192  0.0  0.0  0.0  115.11  114.89  115.31  118.17
193  0.0  0.0  1.0   79.21   79.22   79.19   79.16
194  0.0  1.0  0.0   72.70   73.79   72.85   72.76

[195 rows x 7 columns]

In [44]:
data=df_im

In [45]:
target=df_im[2]

In [26]:
target

0      115.80
1       79.19
2       80.97
3       85.58
4      114.81
        ...
190     63.17
191     56.85
192    118.17
193     79.16
194     72.76
Name: 6, Length: 195, dtype: float64

In [46]:
df.head()

   STRN  SA  SB  Run1 (ms)  Run2 (ms)  Run3 (ms)  Run4 (ms)
0     0   0   0     115.26     115.87     118.55     115.80
1     0   0   1      78.13      78.25      79.25      79.19
2     0   1   0      79.84      80.69      80.76      80.97
3     0   1   1      84.32      89.90      86.75      85.58
4     1   0   0     115.13     121.98     122.73     114.81

In [47]:
import matplotlib.pyplot as plt
from sklearn import linear_model

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
x_train,x_test,y_train,y_test=train_test_split(df,target,test_size=0.3)

In [50]:
x_train.shape

(136, 7)

In [51]:
x_test.shape

(59, 7)

In [52]:
y_train.shape

(136,)

In [53]:
y_test.shape

(59,)

In [54]:
from sklearn.linear_model import Perceptron

In [55]:
p1=Perceptron(penalty='l1')

In [56]:
df

     STRN  SA  SB  Run1 (ms)  Run2 (ms)  Run3 (ms)  Run4 (ms)
0       0   0   0     115.26     115.87     118.55     115.80
1       0   0   1      78.13      78.25      79.25      79.19
2       0   1   0      79.84      80.69      80.76      80.97
3       0   1   1      84.32      89.90      86.75      85.58
4       1   0   0     115.13     121.98     122.73     114.81
..    ...  ..  ..        ...        ...        ...        ...
190     1   1   0      62.99      62.28      63.03      63.17
191     1   1   1      57.08      57.06      57.04      56.85
192     0   0   0     115.11     114.89     115.31     118.17
193     0   0   1      79.21      79.22      79.19      79.16
194     0   1   0      72.70      73.79      72.85      72.76

[195 rows x 7 columns]

In [38]:
#df=df.drop(145, axis=0)

In [57]:
df

     STRN  SA  SB  Run1 (ms)  Run2 (ms)  Run3 (ms)  Run4 (ms)
0       0   0   0     115.26     115.87     118.55     115.80
1       0   0   1      78.13      78.25      79.25      79.19
2       0   1   0      79.84      80.69      80.76      80.97
3       0   1   1      84.32      89.90      86.75      85.58
4       1   0   0     115.13     121.98     122.73     114.81
..    ...  ..  ..        ...        ...        ...        ...
190     1   1   0      62.99      62.28      63.03      63.17
191     1   1   1      57.08      57.06      57.04      56.85
192     0   0   0     115.11     114.89     115.31     118.17
193     0   0   1      79.21      79.22      79.19      79.16
194     0   1   0      72.70      73.79      72.85      72.76

[195 rows x 7 columns]

In [58]:
p1.fit(x_train,y_train)

Perceptron(penalty='l1')

In [59]:
from sklearn.metrics import accuracy_score

In [60]:
train_pred=p1.predict(x_train)

In [61]:
train_pred=p1.predict(x_test)

In [64]:
X=df.drop('Run4 (ms)',1)
y=df['Run4 (ms)']
from sklearn.linear_model import LogisticRegression

from sklearn import preprocessing
from sklearn import utils

#convert y values to categorical values
lab = preprocessing.LabelEncoder()
y = lab.fit_transform(y)

<ipython-input-64-3eed0bec86e0>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X=df.drop('Run4 (ms)',1)

In [65]:

#split the dataset in the Training and testing 
from sklearn.model_selection import train_test_split
X_train , X_test ,y_train, y_test = train_test_split(df,target,test_size=0.2,random_state=0)
print(np.shape(X))
print(np.shape(X_test))
print(np.shape(X_train))

#Create the object of StandardScaler class for independent variables or features
from sklearn.preprocessing import StandardScaler 
sc=StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

(195, 6)
(39, 7)
(156, 7)

In [66]:
### SVM (Support Vector Machine)
from sklearn.svm import SVC
svm = SVC(kernel='linear', C=1,random_state=0)
svm.fit(X_train_std,y_train)
y_pred=svm.predict(X_test_std)
print('misclassified samples: %d'%(y_test!=y_pred).sum())
from sklearn.metrics import accuracy_score
print('Accuracy:%.2f'%accuracy_score(y_test,y_pred))

misclassified samples: 0
Accuracy:1.00

In [69]:
### KNN (K-Nearest Neighbors)
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
knn1=KNeighborsClassifier(n_neighbors=4)
knn1.fit(X_train_std,y_train)
y_pred=knn1.predict(X_test_std)
print('misclassified samples: %d'%(y_test!=y_pred).sum())
from sklearn.metrics import accuracy_score
print('Accuracy:%.2f'%accuracy_score(y_test,y_pred))
cm=confusion_matrix(y_test,y_pred)
print(cm)

misclassified samples: 0
Accuracy:1.00
[[19  0]
 [ 0 20]]

In [67]:
### Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
model = LogisticRegression(solver='liblinear', random_state=0)
model.fit(X_train,y_train)
model = LogisticRegression(solver='liblinear', random_state=0).fit(X, y)
model.predict_proba(X)
model.predict(X)
model.score(X,y)
print(classification_report(y, model.predict(X)))
model.score(X,y)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.00      0.00      0.00         1
           2       0.00      0.00      0.00         1
           3       0.00      0.00      0.00         1
           4       0.00      0.00      0.00         1
           5       0.00      0.00      0.00         1
           6       0.00      0.00      0.00         1
           7       0.08      0.50      0.13         2
           8       0.00      0.00      0.00         1
           9       0.00      0.00      0.00         1
          10       0.00      0.00      0.00         1
          11       0.00      0.00      0.00         1
          12       0.00      0.00      0.00         1
          13       0.00      0.00      0.00         1
          14       0.00      0.00      0.00         1
          15       0.00      0.00      0.00         1
          16       0.00      0.00      0.00         1
          17       0.00      0.00      0.00         1
          18       0.00      0.00      0.00         1
          19       0.00      0.00      0.00         1
          20       0.00      0.00      0.00         1
          21       1.00      1.00      1.00         1
          22       0.00      0.00      0.00         1
          23       0.00      0.00      0.00         1
          24       0.00      0.00      0.00         1
          25       0.00      0.00      0.00         1
          26       0.00      0.00      0.00         1
          27       0.00      0.00      0.00         1
          28       0.00      0.00      0.00         1
          29       0.00      0.00      0.00         1
          30       0.00      0.00      0.00         1
          31       1.00      1.00      1.00         1
          32       0.00      0.00      0.00         1
          33       0.00      0.00      0.00         1
          34       0.00      0.00      0.00         1
          35       0.00      0.00      0.00         1
          36       0.00      0.00      0.00         1
          37       0.00      0.00      0.00         1
          38       0.00      0.00      0.00         1
          39       1.00      1.00      1.00         1
          40       0.00      0.00      0.00         1
          41       1.00      1.00      1.00         1
          42       0.00      0.00      0.00         1
          43       0.00      0.00      0.00         1
          44       1.00      1.00      1.00         1
          45       0.00      0.00      0.00         1
          46       0.00      0.00      0.00         2
          47       0.00      0.00      0.00         1
          48       0.00      0.00      0.00         1
          49       0.00      0.00      0.00         1
          50       0.00      0.00      0.00         1
          51       0.00      0.00      0.00         1
          52       0.00      0.00      0.00         1
          53       0.00      0.00      0.00         1
          54       1.00      1.00      1.00         1
          55       1.00      1.00      1.00         1
          56       0.00      0.00      0.00         1
          57       0.00      0.00      0.00         1
          58       0.00      0.00      0.00         1
          59       0.00      0.00      0.00         1
          60       0.10      0.50      0.17         2
          61       0.00      0.00      0.00         1
          62       0.00      0.00      0.00         1
          63       0.00      0.00      0.00         1
          64       0.00      0.00      0.00         1
          65       0.00      0.00      0.00         1
          66       0.00      0.00      0.00         1
          67       0.00      0.00      0.00         1
          68       0.00      0.00      0.00         1
          69       0.00      0.00      0.00         1
          70       0.00      0.00      0.00         1
          71       0.00      0.00      0.00         1
          72       0.00      0.00      0.00         1
          73       0.00      0.00      0.00         1
          74       0.00      0.00      0.00         1
          75       1.00      1.00      1.00         1
          76       0.00      0.00      0.00         1
          77       0.00      0.00      0.00         1
          78       0.00      0.00      0.00         1
          79       0.00      0.00      0.00         1
          80       0.00      0.00      0.00         1
          81       0.00      0.00      0.00         1
          82       0.00      0.00      0.00         1
          83       0.00      0.00      0.00         1
          84       0.00      0.00      0.00         1
          85       0.00      0.00      0.00         1
          86       0.00      0.00      0.00         1
          87       0.00      0.00      0.00         1
          88       0.00      0.00      0.00         1
          89       0.00      0.00      0.00         1
          90       0.00      0.00      0.00         1
          91       0.00      0.00      0.00         1
          92       0.00      0.00      0.00         1
          93       0.00      0.00      0.00         1
          94       0.00      0.00      0.00         1
          95       1.00      1.00      1.00         1
          96       0.00      0.00      0.00         1
          97       0.00      0.00      0.00         1
          98       0.00      0.00      0.00         1
          99       0.00      0.00      0.00         1
         100       0.00      0.00      0.00         1
         101       0.00      0.00      0.00         1
         102       0.00      0.00      0.00         1
         103       0.00      0.00      0.00         1
         104       0.00      0.00      0.00         1
         105       0.00      0.00      0.00         1
         106       0.00      0.00      0.00         1
         107       0.33      1.00      0.50         1
         108       0.00      0.00      0.00         1
         109       0.00      0.00      0.00         1
         110       0.33      1.00      0.50         1
         111       0.00      0.00      0.00         1
         112       0.00      0.00      0.00         1
         113       0.00      0.00      0.00         1
         114       0.00      0.00      0.00         2
         115       0.00      0.00      0.00         1
         116       0.00      0.00      0.00         1
         117       0.50      1.00      0.67         1
         118       0.00      0.00      0.00         1
         119       0.00      0.00      0.00         1
         120       0.00      0.00      0.00         1
         121       0.00      0.00      0.00         1
         122       1.00      1.00      1.00         1
         123       0.33      1.00      0.50         1
         124       0.00      0.00      0.00         1
         125       0.00      0.00      0.00         1
         126       0.00      0.00      0.00         1
         127       0.00      0.00      0.00         1
         128       0.00      0.00      0.00         1
         129       0.00      0.00      0.00         1
         130       0.00      0.00      0.00         1
         131       0.00      0.00      0.00         1
         132       0.00      0.00      0.00         1
         133       0.00      0.00      0.00         1
         134       0.00      0.00      0.00         1
         135       0.00      0.00      0.00         1
         136       0.00      0.00      0.00         1
         137       0.00      0.00      0.00         1
         138       0.00      0.00      0.00         1
         139       0.00      0.00      0.00         1
         140       0.00      0.00      0.00         1
         141       0.00      0.00      0.00         1
         142       0.00      0.00      0.00         1
         143       1.00      1.00      1.00         1
         144       0.00      0.00      0.00         1
         145       1.00      1.00      1.00         1
         146       0.00      0.00      0.00         1
         147       0.00      0.00      0.00         1
         148       1.00      1.00      1.00         1
         149       0.00      0.00      0.00         1
         150       0.00      0.00      0.00         1
         151       0.00      0.00      0.00         1
         152       0.00      0.00      0.00         1
         153       0.00      0.00      0.00         1
         154       1.00      1.00      1.00         1
         155       0.00      0.00      0.00         1
         156       0.00      0.00      0.00         1
         157       0.00      0.00      0.00         1
         158       0.25      1.00      0.40         1
         159       0.00      0.00      0.00         1
         160       0.00      0.00      0.00         1
         161       0.00      0.00      0.00         1
         162       0.00      0.00      0.00         1
         163       0.00      0.00      0.00         1
         164       0.00      0.00      0.00         1
         165       0.00      0.00      0.00         1
         166       0.00      0.00      0.00         1
         167       0.00      0.00      0.00         1
         168       0.00      0.00      0.00         1
         169       0.00      0.00      0.00         1
         170       0.00      0.00      0.00         1
         171       0.33      1.00      0.50         1
         172       0.17      1.00      0.29         1
         173       0.33      1.00      0.50         1
         174       0.00      0.00      0.00         1
         175       0.00      0.00      0.00         1
         176       0.00      0.00      0.00         1
         177       0.00      0.00      0.00         1
         178       0.00      0.00      0.00         1
         179       0.00      0.00      0.00         1
         180       1.00      1.00      1.00         1
         181       1.00      1.00      1.00         1
         182       0.09      1.00      0.17         1
         183       1.00      1.00      1.00         1
         184       0.04      1.00      0.07         2
         185       0.00      0.00      0.00         1
         186       0.00      0.00      0.00         1
         187       0.00      0.00      0.00         1
         188       0.00      0.00      0.00         1
         189       0.00      0.00      0.00         1

    accuracy                           0.15       195
   macro avg       0.10      0.15      0.11       195
weighted avg       0.10      0.15      0.11       195

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.15384615384615385

In [68]:
from sklearn.ensemble import RandomForestClassifier #algorithm of hyperparameter tuning
from sklearn.model_selection import GridSearchCV #Cv: Cross Validation
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(df, target, test_size=0.2, random_state=0)

# Define the hyperparameters to tune
param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10]
}
# Create a random forest classifier object
rfc = RandomForestClassifier()

# Perform a grid search with cross-validation to find the best hyperparameters
grid_search = GridSearchCV(estimator=rfc, param_grid=param_grid, cv=5)
grid_search.fit(X_train, y_train)

# Print the best hyperparameters and their corresponding accuracy score on the validation set
print("Best hyperparameters:", grid_search.best_params_)
y_pred = grid_search.predict(X_val)
print("Validation accuracy score:", accuracy_score(y_val, y_pred))

Best hyperparameters: {'max_depth': None, 'min_samples_split': 2, 'n_estimators': 50}
Validation accuracy score: 1.0